<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589358023367-vvq75oajnticqjiopdim54j1071gpaog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589358023367-vvq75oajnticqjiopdim54j1071gpaog</string>
	<key>API_KEY</key>
	<string>AIzaSyAV1SyqQfkI40RJ8W0i6ZvvwlkwNFLUC0k</string>
	<key>GCM_SENDER_ID</key>
	<string>589358023367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luizsohapps.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589358023367:ios:1fb1196f139d40fe0eb4e2</string>
</dict>
</plist>